html 
{
    background-color:  rgb(211, 211, 211);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Helvetica";
}

* 
{
    margin: 0;
    padding: 0;
}

h1
{
    font-size: 24px;
}

.header 
{
     
    background: #24292e;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.logo 
{
    text-align: center;
    display: inline-block;
    margin: 10px auto;
}

.logo img
{
    width:80px;
    border-radius: 8px;
}

.nav 
{
    max-width: 800px;
    background-color:#ffffff;
    margin: auto;
    height: 100%;
    font-size: 16px;
}

.nav ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #24292e;
}
 
.nav li 
{
    float: left;
}
 
.nav li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover 
{
    background-color: #9370DB;
}

.nav .active 
{
    background-color: #4CAF50;
}

.footer
{
    background-color: #24292e;
    font-size: 16px;
    text-align: center;
    color: white;
}

.middle
{
    padding: 10px;
    height: 100%;
    text-align: center;
}

.main
{
    max-width: 800px;
    background-color:#ffffff;
    margin: auto;
    height: 100%;
    font-size: 16px;
}

.main li
{
    list-style-type: none;
    margin: 20px 0;
}

a:link 
{
    color: #9370DB;
}
  
a:visited 
{
    color: green;
}


.footer a 
{
    margin: auto;
    color: white;
    text-align: center;
    text-decoration: none;
}

.footer a:hover 
{
    text-decoration: underline;
}
 
.footer small
{
    text-align: center;
    color: white;
    font-size: 12px;
}

@media (min-width: 800px) 
{
    .logo
    {
        text-align: center;
        height: 120px;
    }
    .logo img
    {
        width:120px;
    }
    .main
    {
        max-width: 800px;
    }
}

@media (min-width: 1200px) 
{
    .logo
    {
        text-align: left;
        height: 120px;
    }
    .logo img
    {
        width:120px;
    }
    .main
    {
        max-width: 1000px;
    }
    .nav
    {
        max-width: 1000px;
    }
}
