html 
{
    background-color: #f1e9d2;
    background: url(../images/tinyBackground.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
 
 body 
 {

 } 

 * 
 {
     margin: 0;
     padding: 0;
 }

.header 
 {
     
     background: black;
     position: relative;
     width: 100%;
     overflow: hidden;
     margin: 0 auto;
     text-align: center;
     width: 100%;
 }
 
 .logo 
 {
     position: relative;
     width: 100%;
     height: 80px;
     float: left; 
     margin: 10px;
     text-align: center;
 }

 .logo img
 {
    width:80px;
    border-radius: 8px;
 }
 
 .footer
 {
     background-color: #333;
     font-family: "Times New Roman";
     font-size: 18px;

     text-align: center;
     color: white;

     box-shadow: 0 50vh 0 50vh #333;
     
 }
 
 .middle
 {
     padding: 10px;
     height: 100%;
 }
 
 .main
 {
     max-width: 800px;
     background-color:#f1e9d2;
     margin: auto;
     /*margin-top: 10px;
     margin-bottom: 10px;*/
     height: 100%;
 }

/* unvisited link */
 a:link {
    color: #9370DB;;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }

 .indent0 
 {
    font-size: 26px;
    line-height: 1.25;
    word-wrap: break-word;
    font-family: "Courier New", Courier, monospace;
 }
 .indent1 
 {
    margin-left: 40px;
    font-size: 26px;
    line-height: 1.25;
    word-wrap: break-word;
    font-family: "Courier New", Courier, monospace;
 }

 .indent2
 {
    margin-left: 80px;
    font-size: 26px;
    line-height: 1.25;
    word-wrap: break-word;
    font-family: "Courier New", Courier, monospace;
 }

 .footer a 
 {
     margin: auto;
     color: white;
     text-align: center;
     text-decoration: none;
     
 }

 .footer a:hover 
 {
     text-decoration: underline;
 }
 
 .footer small
 {
     text-align: center;
     color: white;
     font-size: 14px;
 }


 @media (min-width: 800px) 
 {
    .logo
    {
        text-align: center;
        height: 120px;
    }
    .logo img
    {
        width:120px;
    }
    .main
    {
        max-width: 800px;
    }
    .indent0 
    {
       font-size: 28px;
       line-height: 1.25;
    }
    .indent1 
    {
       margin-left: 40px;
       font-size: 28px;
       line-height: 1.25;
    }
    .indent2
    {
       margin-left: 80px;
       font-size: 28px;
       line-height: 1.25;
    }
 }

 @media (min-width: 1200px) 
 {
    .logo
    {
        text-align: left;
        height: 120px;
    }
    .logo img
    {
        width:120px;
    }
     .main
     {
         max-width: 1000px;
     }
     .indent0 
     {
        font-size: 30px;
        line-height: 1.25;
     }
     .indent1 
     {
        margin-left: 40px;
        font-size: 30px;
        line-height: 1.25;
     }
     .indent2
     {
        margin-left: 80px;
        font-size: 30px;
        line-height: 1.25;
     }
 }